/dataInputProgram/Lib/
/dataInputProgram/Scripts/*
/dataInputProgram/Include/*

/dataInputProgram/share/*
/dataInputProgram/src/depression/__pycache__/
/docker_ws/api-server/.env


/parkinson/output/*

/CHU/data_input_app/input_videos/*
/CHU/data_input_app/__pycache__/
/CHU/data_anonymization_app/input_videos/*
/CHU/data_anonymization_app/__pycache__/
/CHU/data_anonymization_app/data/output/*
/CHU/data_anonymization_app/data/json/*
/CHU/data_anonymization_app/venv/*

/CHU/data_input_app/venv/Lib/*

*.mp4
*.mov
*.json
*.zip
*.pyc

/CHU_LOCAL/test/venv_gpu/Lib/*
/CHU_LOCAL/test/venv_gpu/Scripts/*
/CHU_LOCAL/test/venv_gpu/Include/*
/CHU_LOCAL/test/input_videos/*
/CHU_LOCAL/test/__pycache__/
/CHU_LOCAL/test/data/output/*
/CHU_LOCAL/test/data/json/*

/external_data_scheduler/Parkinson/*
/external_data_scheduler/Depression/*
/external_data_scheduler/__pycache__/
/external_data_scheduler/venv/Lib/*
/external_data_scheduler/venv/Scripts/*
/external_data_scheduler/venv/Include/*

/CHU_LOCAL/data_validation_app/venv/Lib/*
/CHU_LOCAL/data_validation_app/venv/Scripts/*
/CHU_LOCAL/data_validation_app/venv/Include/*

/CHU_LOCAL/data_anonymization_app/venv/Lib/*
/CHU_LOCAL/data_anonymization_app/venv/Scripts/*
/CHU_LOCAL/data_anonymization_app/venv/Include/*

/deidentification/venv/Include/*
/deidentification/venv/Lib/*
/deidentification/venv/Scripts/*

/voicecrypto/output/*
/voicecrypto/sample/*
/voicecrypto/restored/*


/CU_LOCAL/data_anonymization_app/venv/Lib/*
/CU_LOCAL/data_anonymization_app/venv/Scripts/*
/CU_LOCAL/data_anonymization_app/venv/Include/*
/CU_LOCAL/data_anonymization_app/venv/share/*

/CU_LOCAL/data_input_app/venv/Lib/*
/CU_LOCAL/data_input_app/venv/Scripts/*
/CU_LOCAL/data_input_app/venv/Include/*
/CU_LOCAL/data_input_app/venv/share/*