/dataInputProgram/Lib/
/dataInputProgram/Scripts/*
/dataInputProgram/Include/*

/dataInputProgram/share/*
/dataInputProgram/src/depression/__pycache__/
/docker_ws/api-server/.env


/parkinson/output/*