/dataInputProgram/Lib/
/dataInputProgram/Scripts/*
/dataInputProgram/Include/*

/dataInputProgram/share/*
/dataInputProgram/src/depression/__pycache__/
/docker_ws/api-server/.env


/parkinson/output/*

/CHU/data_input_app/input_videos/*
/CHU/data_input_app/__pycache__/
/CHU/data_anonymization_app/input_videos/*
/CHU/data_anonymization_app/__pycache__/
/CHU/data_anonymization_app/data/output/*
/CHU/data_anonymization_app/data/json/*
/CHU/data_anonymization_app/venv/*

/CHU/data_input_app/venv/Lib/*

*.mp4
*.mov
*.json
*.zip
*.pyc

/CHU_LOCAL/test/venv_gpu/Lib/*
/CHU_LOCAL/test/venv_gpu/Scripts/*
/CHU_LOCAL/test/venv_gpu/Include/*
/CHU_LOCAL/test/input_videos/*
/CHU_LOCAL/test/__pycache__/
/CHU_LOCAL/test/data/output/*
/CHU_LOCAL/test/data/json/*