/CHU_LOCAL/test/venv/Lib/*
/CHU_LOCAL/test/venv/Scripts/*
/CHU_LOCAL/test/venv/Include/*
/CHU_LOCAL/test/input_videos/*
/CHU_LOCAL/test/__pycache__/
/CHU_LOCAL/test/data/output/*
/CHU_LOCAL/test/data/json/*